@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playwrite+DE+Grund+Guides&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+DE+Grund+Guides&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --light-bg: #f7f5f2;
    --dark-bg: #1e1e1e;
    --light-text: rgb(132, 112, 81);
    --light-text2: rgb(132, 112, 130);

}

.fa-regular.active {
    @apply bg-gray-400/50;
}

.dark body {
    @apply bg-black;
}

.dark .navigation {
    @apply text-white bg-black/90;
}

.dark .dropdown-1 {
    @apply bg-black;
}

.dark .dropdown-2 {
    @apply bg-black;
}


.dark .dropdown-2 li {
    @apply text-white;
}

.dark .dropdown-2 li:hover {
    @apply text-blue-600;
}

.Dropone {
    @apply bg-white opacity-0 invisible pointer-events-none group-hover:pointer-events-auto group-hover:opacity-100 group-hover:visible absolute transition ease-in duration-300 w-full top-full left-0 p-5;
}

.Droptwo {
    @apply bg-white flex opacity-0 invisible pointer-events-none group-hover:pointer-events-auto group-hover:opacity-100 group-hover:visible absolute transition ease-in duration-300 w-full top-full left-0 p-5;
}

.productList {
    @apply cursor-pointer transition ease-in duration-300 hover:bg-gray-100 px-2 py-3 rounded-2xl flex items-start gap-3 relative;
}

.solutionList {
    @apply hover:bg-gray-100 w-full py-1 px-2 rounded-sm hover:text-blue-600 transition ease-in duration-100 mb-4 text-black font-normal cursor-pointer
}

.dark .section1 {
    @apply bg-[#1e1e1e]
}

.dark .section1 h1 {
    @apply text-white
}

.dark .section1 p {
    @apply text-gray-300
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);

    }

}

.animate-move {
    animation: move 60s linear infinite;
}

.slider:hover .animate-move {
    animation-play-state: paused;
}

.dark .pause {
    @apply text-white border-white
}

.pause i.active {
    @apply visible block
}

.paused {
    animation-play-state: paused;
}

.dark .section2 h1 {
    @apply text-white
}

.dark button {
    @apply text-white border-white
}

.dark .slider img {
    @apply invert brightness-0
}

/* Chrome, Edge, Safari */
.testimonial::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.testimonial {
    scrollbar-width: none;
}

.dark .section6 .box {
    @apply bg-[var(--dark-bg)];
}

.dark .section6 .box p {
    @apply text-white
}

.dark .section6 .box span {
    @apply border-white;
}

.dark .section7 {
    @apply bg-[var(--dark-bg)];
}

.dark .section7 h1 {
    @apply text-white
}

.dark .section7 .box {
    @apply bg-black text-white
}

.dark .section7 .box span    {
    @apply border-white
}